.card {
  background-color: #01050c;
  color: white;
}

.card-inner {
  padding: 20px;
}

.title, .loading {
  text-align: center;
  color: white;
}

.visible {
  position: fixed;
  bottom: 15px;
  right: 15px;
  visibility: visible;
}